@media ( max-width: 1200px )
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 590px
  .swiper
    &-slide
      &__image
        height: 100%
        width: 100%
        object-fit: cover
  .card
    width: 230px
    height: 230px
  .packages
    &-wrapper
      grid-template-rows: repeat(4, 250px)
      grid-template-columns: repeat(3, 31%)
    &-card
      &__image
        &--grid-1
          width: 310px
  .footer
    &__form
      &-group
        flex-wrap: wrap
    &__input
      &-group
        flex-basis: 100%    
@media ( max-width: 992px )
  .container,
  .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
      &__search
        margin-left: auto
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
        width: 340px
  .hotel
    &-grid
      flex-direction: column
    &__slider
      width: 100%
      margin-bottom: 30px
    &-right
      flex-direction: row
  .booking
    width: 340px
  .map
    width: 340px
  .reviews
    &-slider
      &__item
        max-width: 580px
  .activities
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 340px
    height: 230px
  .packages
    &-wrapper
      grid-template-areas: "grid-1 grid-1" "grid-1 grid-1" "grid-2 grid-3" "grid-2 grid-3" "grid-4 grid-5" "grid-4 grid-5"
      grid-template-rows: repeat(6, 250px)
      grid-template-columns: repeat(2, 48%)
      grid-gap: 20px
    &-card
      &__image
        &--grid-1
          width: 345px
  .footer
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
      grid-row-gap: 40px
    &__input
      &-group
        flex-basis: 48%
    &__logo
      grid-row: 1 / 2
      grid-column: span 2
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
    &__categories
      grid-row: 2 / 3
      grid-column: span 2
    &__legal 
      grid-column: span 2
    &__additional
      grid-column: span 2
    &__contact
      &-details
        grid-column: span 5
        grid-row: 3
      &-form
        grid-column: span 5
        grid-row: 4
    &__bottom
      justify-content: flex-start
      &-wrapper
        width: 100%
  .modal
    &__dialog
      padding: 30px 50px
    &__form
      display: flex
      justify-content: space-between
      flex-wrap: wrap
    &__input
      order: 1
      flex-basis: 100%
    &__message
      order: 2
      flex-basis: 100%
    &__info
      order: 3
      flex-basis: 100%
      margin-left: 0
      margin-bottom: 15px
    &__button
      order: 4
      flex-basis: 100%
@media ( max-width: 768px )
  .container
    max-width: 700px
    width: 92%
  body
    padding-top: 78px
  .navbar
    &--mobile
      &--fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99
    &-top
      &__search
        &--mobile
          &--hidden
            display: none
          &--visible
            display: flex
      &__user
        flex-direction: column
        justify-content: start
        &--mobile
          &--hidden
            display: none
          &--visible
            display: flex
    &-bottom
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 78px
      padding-top: 30px
      &__search
        &--mobile
          &--hidden
            display: none
          &--visible
            display: flex
      &__user
        flex-direction: column
        justify-content: start
        &--mobile
          &--hidden
            display: none
          &--visible
            display: flex
      &--visible
        display: block
    &-menu
      flex-direction: column
      &__item
        margin-bottom: 20px
        &--mobile
          &--visible
            display: block
  .user
    &__name
      &--light
        color: $white
        margin-left: 0
        margin-top: 10px
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      background-color: transparent
      border: none
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
    &__button
      &--hidden
        display: none
  .stars
    flex-basis: auto
  .hotel
    &-info
      &__wrapper
        justify-content: space-between
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
        flex-basis: 100%
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
    &-slider
      height: 350px
  .booking
    width: 48%
    min-width: 260px
  .map
    width: 48%
    min-width: 260px
  .newsletter
    padding: 76px 0 83px
    height: 319px
    &-wrapper
      flex-direction: column
      max-width: 700px
      width: 92%
      align-items: flex-start
    &-title
      margin-bottom: 37px
      font-size: 20px
      line-height: 25px
    &__strong
      font-size: 30px
      line-height: 38px
  .parallax
    &-window
      z-index: 2
  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
      &::after, &::before
        display: none
      &__button
        top: 45px
        &--prev
          left: 50%
          margin-left: -65px
          transform: translate(-50%, 0)
        &--next
          right: 50%
          margin-right: -65px
          transform: translate(50%, 0)
  .activities
    padding-top: 40px
    padding-bottom: 60px
  .card
    width: 49%
    height: 255px
  .packages
    padding: 30px 0 60px 0
    &-wrapper
      grid-template-areas: "grid-1 grid-1" "grid-1 grid-1" "grid-2 grid-3" "grid-2 grid-3" "grid-4 grid-5" "grid-4 grid-5"
      grid-template-rows: 1fr repeat(5, 250px)
      grid-template-columns: repeat(2, 48%)
      grid-gap: 20px
    &-card
      &__image
        &--grid-1
          width: 100%
          height: 500px
      &__discount
          font-size: 18px
          line-height: 24px
  .grid-1
    flex-direction: column
  .footer
    &__input
      &-group
        flex-basis: 100%
  .close
    display: none
    &:before,
    &::after
      content: ""
      position: absolute
      top: 38px
      right: 34px
      width: 16px
      height: 2px
      background-color: $text-color
    &::before
      webkit-transform: rotate(45deg)
      transform: rotate(45deg)
    &::after
      webkit-transform: rotate(-45deg)
      transform: rotate(-45deg)
    &--visible
      display: flex
  .modal
    &__dialog
      width: 92%
    &__title
      font-size: 10px
    &__input
      font-size: 10px
      height: 30px
      padding: 0 13px
    &__message
      font-size: 10px
      height: 80px
      padding: 10px 13px
    &__info
    font-size: 10px
    &__button
      font-size: 10px
      min-width: 100%
      min-height: 30px
      padding: 10px
@media ( max-width: 576px )
  .logo
    width: 99px
  .hotel
    &-right
      flex-direction: column
      min-height: 450px
    &__slider
      height: 250px
      margin-bottom: 20px
  .booking
    width: 100%
  .map
    width: 100%
    height: 173px
  .newsletter
    padding: 76px 0 83px 0
    &-title
      font-size: 20px
      line-height: 25px
      &__strong
        font-size: 30px
        line-height: 38px
  .subscribe
    width: 100%
  .card
    width: 100%
  .packages
    padding-bottom: 80px
    &-wrapper
      grid-template-areas: "grid-1" "grid-1" "grid-2" "grid-2 " "grid-3" "grid-3" "grid-4" "grid-4" "grid-5" "grid-5"
      grid-template-rows: 1fr repeat(9, 250px)
      grid-template-columns: 1fr
      grid-row: 0
  .footer
    &-wrapper
      grid-template-columns: 1fr
    &__logo
      grid-row: 1
      grid-column: 1
    &__social
      &-network
        grid-row: 2
        grid-column: 1
    &__additional
      grid-row: 3
      grid-column: 1
    &__categories
      grid-row: 4
      grid-column: 1
    &__legal 
      grid-row: 5
      grid-column: 1
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1
    &__button
      order: 1
    &__info
      order: 0
      flex-basis: 100%
      margin-bottom: 15px
@media ( max-width: 350px )
  .footer
    &-wrapper
      display: flex
      flex-direction: column
    &__social
      &-network
        flex-wrap: wrap
    &__contact
      &-details
    &__input
      width: 100%
    &__link
      font-size: 10px
    &__item
      font-size: 10px
    &__form
      max-width: 300px
    &__message
      width: 100%
  .navbar
    &-top
      &__search
        width: 80%
  


        